.menu {
  padding: 1.5rem;
}

.menuHeading {
  font-family: "Aoboshi One", serif;
  font-size: 2rem;
}

.menuContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.otherDishes:last-child {
    align-self: flex-start;
}

.dish {
  
  border-radius: 5px;
  width: 45vw;
  padding: 0.5rem;
  background-color: #f5fef4;
}

.mainDishes,
.dessertsDishes,
.otherDishes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.dishName {
  font-family: "Aoboshi One", "Inter", sans-serif;
  text-decoration: underline wavy;
}

.dishDesc {
  font-family: serif;
  color: grey;
}

@media screen and (max-width: 850px) {
  .dish {
    width: 80vw;
    align-self: center;
  }

  .mainDishes,
  .dessertsDishes,
  .otherDishes {
    width: calc(100vw - 3rem);
  }
}
